{% extends 'mainApp/wrapper.html' %}
{% load static %}


{% block content %}
                            <div class="col-lg-12">
                        {% for topic in topics %}

                                <h2>Tanlangan Sahifa: {{ topic.category }}</h2>


                        </div>



                               <div class="col-lg-6 col-md-4 col-sm-12 divide">
                                  <div class="box2">

                                    <img src="{{ topic.image.url }}" WIDTH="1100" HEIGHT="600" alt="picture2">
                                    <div class="content">

                                        <a href="{% url 'davomi' topic.id %}"><h4 class="col-lg-15" >{{ topic.name }}</h4></a>
                                        <p class="seven" >{{ topic.description|truncatechars:120 }}</p>
                                        <a href="{% url 'davomi' topic.id %}">Batafsil o'qish uchun <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        <p>Joylangan sana: {{ topic.time }}</p>
                                        <p>Avtor: {{ topic.author }}</p>

                                    </div>
                                  </div>

                                   {% endfor %}

                    </div>
                           </div>
                    </div>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if topics.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ 1 }}" tabindex="-1" aria-disabled="true">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ topics.previous_page_number }}" aria-disabled="true">Oldingi</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{ topics.number }}</a>
            </li>
            <li class="page-item">
                {% if topics.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ topics.next_page_number }}">Keyingi</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ topics.paginator.num_pages }}">{{ topics.paginator.num_pages }}</a>
            </li>
            {% endif %}
        </ul>
    </nav>



    {% endblock %}