{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainApp/sass/slick.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/sass/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/sass/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/sass/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/sass/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>
<body>

    <section class="news">
         <div class="container">
            <div class="row navbar">
                <div class="col-lg-4 col-md-4">
                    <div class="hamb" onclick="add()">
                        <img src="{% static 'mainApp/images/main/menu.svg' %}" alt="" id="hamb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                    <div class="logo">
                        <img src="{% static 'mainApp/images/main/logo.png' %}" alt="">
                    </div>
                </div>

            </div>
            <div class="menu" id="menu">
                <div class="logon">
                    <img src="{% static 'mainApp/images/main/logo.png' %}" alt="">
                </div>
                <div class="close" onclick="remove()">
                    <img src="{% static 'mainApp/images/main/close.svg' %}" alt="" id="close">
                </div>


                <ul class="nav-list">
                   {% for category in categories %}
                    <li><a href="{% url 'category' category.id %}" class="actives">{{ category.name }}</a></li>
                    {% endfor %}
                    <li><a href="#">Aloqa</a></li>
                  </ul>
            </div>
         </div>


            <section class="asosiy">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Yangiliklar</h2>
                        </div>

                    </div>


                   {% block content %}
                    {% endblock %}

                    <br>
                    <br>
                    <br><br><br>


</section>

            <section class="footer">
                <div class="container">
                    <div class="row firsts">
                        <div class="col-lg-4 col-md-4">
                            <div class="links">
                                <div class="link">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                                <div class="link">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                                <div class="link">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="link">
                                    <img src="{% static 'mainApp/images/main/telegram.png' %}" alt="telegram">
                                </div>
                                <div class="link">
                                   <img src="{% static 'mainApp/images/main/tik-tok.png' %}" alt="tik-tok">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <div class="logo">
                                <img src="{% static 'mainApp/images/main/logo.png' %}" alt="Logo">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 d-flex justify-content-end">
                            <ul class="list">
                                <li><a href="#">Yangiliklar</a></li>
                                <li><a href="#">Biz haqimizda</a></li>
                                <li><a href="#">Aloqa</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row seconds d-flex align-items-start">
                       <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-end">
                           <div class="contact">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                              <a href="#">nextalgon6769@gmail.com</a>
                           </div>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">
                        <div class="contact">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            <p class="p-0 m-0">+998946776767</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-start">
                        <div class="contact">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                           <p>Bodomzor ko'chasi 14-uy</p>
                        </div>
                    </div>

                </div>
            </section>




    <script src="{% static 'mainApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainApp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mainApp/js/slick.js' %}"></script>
    <script src="{% static 'mainApp/js/main.js' %}"></script>
</body>
</html>